:root {
  --primary-color: #0070ba;
  --primary-hover: #005ea6;
  --secondary-color: #003087;
}

.MuiButton-contained {
  background-color: var(--primary-color);
}

.MuiButton-contained:hover {
  background-color: var(--primary-hover);
}

.MuiButton-outlined {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.MuiButton-outlined:hover {
  background-color: rgba(0, 112, 186, 0.04);
  border-color: var(--primary-hover);
}
